.ems-alert {
  padding: 1rem 1.5rem;
  border-radius: 6px;
  font-weight: 500;
  margin: 1rem 0;
  text-align: center;
  border: 2px solid transparent;
}

.ems-alert-success {
  background-color: #00a03b86;
  border-color: #00792c;
  color: #00792c;
}

.ems-alert-error {
  background-color: #ef444448;
  border-color: #ef4444;
  color: #ef4444;
}

.ems-alert-info {
  background-color: #3b83f665;
  border-color: #0055df;
  color: #0055df;
}
