.grid-container {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: auto 10px;
  /* max-height: 85vh; */
}

.dashboard-grid-max-height {
  max-height: 85vh;
}

@media (max-width: 1000px) {
  .dashboard-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .dashboard-grid {
    gap: 0rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
