.sidebar-container {
  height: 100%;
  border: 1px solid var(--main-text-color);
  border-radius: 8px;
}

.sidebar-container h2 {
  width: 100%;
  text-align: center;
  color: var(--main-color);
  cursor: pointer;
}
