.user-list-container {
  padding: 10px;
  color: #1f2937;
  /* height: calc(100vh - 90px); */
  /* overflow-y: scroll; */
}

.user-table-container {
  min-height: calc(100vh - 200px);
}

.user-list-select {
}
